

body{

	background-color: black;
	margin:0;
 	padding:0;
 	text-align: center;
}

/*top nav bar*/

.navbar li {
	display:inline-block;


}
.navbar a {
	text-align: center;
	font-size: 25px;
 	font-family:'DM Serif Display', serif;
	transition: 0.4s;
	color: white;
	text-decoration: none;
	padding: 0px 400px 0px;
}

.navbar a:hover {
	background-color: white;
	color: black;
	transition: .4s;
}





/* body*/


img{

	text-align: center;
	padding-top: 100px;
}


h1{

	text-align: center;
	color: white;
	font-size: 80px;
	font-family:'DM Serif Display', serif;
	margin: 100px 10px 1px;
}

h2{

	text-align: center;
	color: white;
	font-family:'DM Serif Display', serif;
	font-size: 50px;
	margin: 0px 0px 0px;
}


/*video element*/ 

iframe{

	vertical-align: center;
}

footer{
	color: white;
	text-align: center;
}